:root{
    --col: 1;
}
header, footer {
    width: 100%;
    height: 10vh;
    background-color: #999;
}

section {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    width: calc(100% / var(--col) - 30px);
    margin: 20px 15px;
    display: flex;
    padding: 15px;
    background-color: rgb(242, 237, 228);
    box-sizing: border-box;
}

.item-pic {
    width: 50%;
}

img {
    width: 100%;
}

.item .text {
    width: 50%;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
}
h1 {
    font-size: 25px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .item {
        --col: 3;
        display: block;
        justify-content: center;
    }

    .item-pic {
        width: 100%;
    }

    .item .text {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        margin-left: 0px;
    }
    
}
@media screen and (min-width: 1200px) {
    .item {
        display: flex;
        --col: 4;
        position: relative;
        align-items: center;
    }

    .item:nth-child(-n+2) {
        --col: 2;
        flex-wrap: nowrap;
        align-content: center;
    }
    .item:nth-child(-n+2) .text {
        text-align: left;
        margin: 0 0 0 15px;
    }

    .item:nth-child(n+3):nth-last-child(n) .text {
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        margin: 0;
        top: 15px;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        opacity: 0;
    }

    .item:nth-child(n+3):nth-last-child(n) .text:hover {
        opacity: 1;
        transition: 1s;
    }
}