/* #region *//*?===== 全 =====*/
.web-page {
    font-family: 'Noto Serif TC', serif;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    border-top: 10px solid #ad9292;
    border-bottom: 10px solid #ad9292;
    overflow: hidden;
}
/* #endregion **//*?===== 全 =====*/

/* #region *//*?===== 標題區 =====*/

header {
    width: 100%;
    margin-bottom: 5px;
}

header div{
    width: 140px;
    padding: 5px 0;
    background-color: #ad9292;
    border-radius: 50px;
    text-align: center;
    margin: auto;
}

h1 {
    font-family: 'Noto Serif TC', serif;
    font-size: 25px;
    color: #fff;
}
/* #endregion *//*?===== 標題區 =====*/

/* #region *//*?===== 外框 =====*/

.game-box {
    width: 320px;
    padding: 10px;
    border: 3px solid #dbc5c5;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}

.main-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.warn {
    text-align: center;
    margin: 30px auto;
    width: 200px;
    height: 25px;}

.warn span {
    color: #bd705e;
    font-family: 'Noto Serif TC', serif;
    font-size: 1.2em;
}

.decoration-UP {
    font-size: 1.5em;
    width: fit-content;
    padding: 0 5px;
    background-color: #fff;
    color: #dbc5c5;
    font-family: 'Philosopher';
    text-align: center;
    position: absolute;
    left: 70px;
    top: -16px;
}
/* #endregion *//*?===== 外框 =====*/

/* #region *//*?===== 輸入 =====*/

.input,.hint {
    width: 136px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid #ad9292;
    margin: 0px 5px 10px 5px;
    position: relative;
    display: flex;
    overflow: hidden;
}

.decoration-guess,.decoration-hint {
    padding: 0 5px;
    background-color: #fff;
    color: #dbc5c5;
    font-size: 1.2em;
    font-family: 'Philosopher';
    text-align: center;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 5;
}

.decoration-hint {
    left: 210px;
}

#input,#hint {
    color: #ad9292;
    font-family: 'Philosopher';
    font-size: 1.4em;
    margin: auto;
}

/* #endregion *//*?===== 輸入 =====*/

/* #region *//*?===== 按鈕 =====*/

button {
    font-size: 1.5em;
    font-family: 'philosopher';
    margin: 5px 5px;
    border-radius: 10px;
    border-style: none;
    ;
}

button:hover {
    box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.3);
    translate: -2px -2px;
}

button:active {
    box-shadow: 0px 0px;
    translate: 2px 2px;
}

.number,
.OX {
    width: 90px;
    height: 60px;
    background-color: #dbc5c5;
    color: #876362;
}

.OX {
    background-color: #ad9292;
    color: #fff;
}

.long {
    width: 140px;
    height: 60px;
    background-color: #e9e3d9;
    color: #ad9292;
    border-radius: 50px;
    margin-top: 15px;
}



/* #endregion *//*?===== 按鈕 =====*/

/* #region *//*?===== 看答案 =====*/

.answer-area{
    position: absolute;
    padding: 10px 20px;
    background-color: #e9e3d9;
    right: -100px;
    transition: 1s;
    bottom: 70px;
    border-radius: 5px;
    box-shadow: -2px 3 px 5px -1px rgba(0, 0, 0, 0.3);
    color: #ad9292;
}

.show-answer {
    padding: 10px;
    background-color: #dbc5c5;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #876362;
    font-family: 'Noto Serif TC', serif;
}

.show-answer:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    translate: -2px -2px;
}

.show-answer:active {
    box-shadow: 0px 0px;
    translate: 2px 2px;
}
/* 
.show-answer:active + .answer-area{
    right: 0px;
    transition: 1.5s;
} */

/* #endregion *//*?===== 看答案 =====*/

/* #region *//*?===== 遮罩 =====*/

.full {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    opacity: 0.7;
    top: 0px;
    left: 0px;
    z-index: 6;
}

.start {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    z-index: 7;
    display: flex;
}

#start {
    margin: auto;
    display: block;
    border: 2px solid #876362;
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
}

.success {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #876362;
    box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: calc(50% - 200px );
    left: calc(50% - 200px );
    display: none;
    flex-wrap: wrap;
    z-index: 7;
}

.success img {
    height: 60%;
    margin: auto;
}

.success p {
    width: 100%;
    font-size: 1.5em;
    color: #876362;
    text-align: center;
    margin-top: auto;
}

.try-again {
    font-size: 1.5em;
    padding: 5px 20px;
    margin: 20px auto 0px auto;
    display: block;
    border: 2px solid #876362;
    background-color: #e9e3d9;
    color: #ad9292;
    border-radius: 50px;
}

/* #endregion *//*?===== 遮罩 =====*/