body {
    font-family: 'Noto Serif TC', serif;
    color: #695B7B;
    overflow: hidden;
}
nav {
    box-sizing: border-box;
    padding: 0 40px;
    width: 100vw;
    height: 10vh;
    background-color: #695B7B;
}

.container {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.hint {
    width: 100%;
    text-align: center;
}
.hint p { margin: 20px 0; }
.hint .cn {
    font-size: 40px;
    font-weight: 600;
}
.spell-box{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px 0;
}
.spell {
    width: 50px;
    height: 80px;
    border-bottom: 1px solid #695B7B;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 50px;
}
.true-or-false {
    width: 50px;
    height: 80px;
    font-size: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    right:0;
    transform: translateX(100%);
}
.icon {
    display: none;
    position: absolute;
}
.bingo { color: green;}
.wrong { color: red;}

.control-btn-box{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.control-btn {
    padding: 15px;
    background-color: #695B7B;
    color: #fff;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0.4;
}
.control-btn:hover {
    opacity: 0.8;
}

.reserve-box {
    width: 100vw;
    height: 20vh;
    background-color: #695B7B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reserve-item {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.reserve-item:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.menu {
    position: absolute;
    width: 20%;
    height: 100vh;
    background-color: #E5E1EB;
    right: 0;
    top:0;
    z-index: 10;
    transform: translateX(100%);
    box-sizing: border-box;
    transition: .5s;
    padding: 0 20px;
}

.arrow {
    position: absolute;
    padding: 15px;
    left: 0;
    top: 50%;
    background-color: #E5E1EB;
    transform: translateX(-100%) translateY(-50%);
    border-radius: 10px 0 0 10px;
    box-shadow: -5px 5px 10px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
}

.arrow:hover {
    background-color: #695B7B;
    color: #fff;
}

.arrow p {
    writing-mode: vertical-lr;
    font-weight: 500;
}
.arrow i {
    font-size: 20px;
}

.fa-caret-right {
    display: none;
}

.btn-box {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #695B7B;
}

.vocab-list-box {
    padding: 20px 0;
}

.vocab-list {
    box-sizing: content-box;
    padding: 5px 10px;
    background-color: #695B7B;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    border: none;
    --bs-btn-font-size: 16px;

}

.vocab-list:hover {
    opacity: 0.8;
}

.popover {
    --bs-popover-font-size: 12px;
    --bs-popover-header-font-size: 20px;
    font-weight: 700;
}
