:root{
    --kk-primary: #22a7aa;
    --kk-text-color: #666;
    --kk-title-color: #333;
    --kk-price-color: #212121;
}

/* 幻燈片 */
.owl-theme .owl-dots .owl-dot.active span{
    background: var(--kk-primary);
}

.owl-carousel{
    position: relative;
}

.owl-prev,.owl-next{
    width: 2rem;
    height: 2rem;
    border-radius: 50%!important;
    box-shadow: 0 3px 15px rgb(0 0 0 / 15%);
}
.owl-nav .owl-prev{
    position: absolute;
    top: 30%;
    left: -5%;
}

.owl-nav .owl-next{
    position: absolute;
    top: 30%;
    right: -5%;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: var(--kk-primary);
}



/* 麵包屑 */
/* .wrap {
    width: 600px;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 3px 15px rgb(0 0 0 / 15%);
}

.breadcrumb {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.breadcrumb li {
    padding: 0 20px;
}

.breadcrumb li+li {
    padding-left: 0;
}

.breadcrumb a {
    text-decoration: none;
    color: var(--kk-text-color);
}

.breadcrumb a:hover,
.breadcrumb li:last-child a {
    color: var(--kk-primary);
}

.breadcrumb li+li:before {
    content: '>';
    color: var(--kk-title-color);
    margin-right: 20px;
} */

/*分頁*/
.page-link span,.page-item a{
    color: var(--kk-primary);
}

.pagination{
    --bs-pagination-hover-color:var(--kk-title-color);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(255, 255, 255);
    --bs-pagination-focus-color:var(--kk-title-color);
}

/* 手風琴 */

.acordion{
    --bs-accordion-active-bg:#fff;
}
.accordion-item{
    --bs-accordion-color:var(--kk-text-color);
}
.accordion-button{
    --bs-accordion-btn-color:var(--kk-text-color);
}
.accordion-button:focus{
    --bs-accordion-active-bg:#fff;
    --bs-accordion-btn-focus-border-color:#fff;
    --bs-accordion-btn-focus-box-shadow:#ccc;
}

.accordion-button:not(.collapsed){
    --bs-accordion-active-color:var(--kk-text-color);
    --bs-accordion-active-bg:var(--kk-primary);;
}

.accordion-button:not(.collapsed)::after{
    background-image:var(--bs-accordion-btn-icon);
}

.accordion-body input[type=checkbox]:checked {
    background-color: var(--kk-primary);

}
.form-check-input:focus{
    border-color: var(--kk-text-color);
    box-shadow: none;
}