<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./todoList.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BVS63BC46X"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-BVS63BC46X');
    </script>
</head>
<body>
    <div id="app" class="all">
        <h1>Todo List</h1>
        <div class="container">
            <div class="addList">
                <input v-model="newTodoVal" class="add" type="text">
                <div v-on:click="addTodo" class="addBtn">新增</div>
            </div>
            <div class="list-box">
                <!-- {content: "estest", checked: false} -->
                <!-- <div class="list-item" v-for="(item, index) in todoList">
                    <input @click="checkedHandler(index)" v-model="item.checked" class="checkbox" type="checkbox">
                    <input v-model="item.content" type="text" class="list" :disabled="!item.isEdit">
                    <div v-show="!item.isEdit" @click="editHandler(index)" class="editBtn btn">編輯</div>
                    <div v-show="item.isEdit" @click="editTodo(index)" class="btn">確認</div>
                    <div @click="delTodo(index)" class="deleteBtn btn">刪除</div>
                </div> -->
            </div>
        </div>
    </div>

    <script src="./todo.js"></script>
    <!-- <script src="./newTodo.js"></script> -->
</body>
</html>