body {
    padding-top: 65px;
    padding-bottom: 10vh;
}
#menu-checkbox{
    display: none;
}

#search-checkbox{
    display: none;
}

div[class*="-container"]{
    width: 100%;
    padding: 0 20px;
    margin: auto;
}
.bread-slider-box{
    max-width: 1200px;
    margin: auto;
}

header {
    transition: .5s;
}
h1 {
    font-size: 25px;
    font-weight: bold;
}
h2{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
p {
    display: block;
    margin-bottom: 0;
}

/* #region ===== 麵包屑 =====*/
.bread-box{ 
    width: 100%;
    /* padding: 15px 0; */
    margin: 1rem 0;
}

.breadcrumb {
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow:hidden;
    margin-bottom: 0;
}
.breadcrumb li.active{
    color: #aaa;
    text-overflow: ellipsis;
    overflow:hidden;
}
.breadcrumb li a { text-decoration: none; }
.breadcrumb-item+.breadcrumb-item::before { float: none; }
.breadcrumb a:hover { color: var(--kk-primary); }

/* #endregion */

/* #region ========== 貓頭鷹 ==========*/
/* slider */
.product-intro {position: relative;}
.owl-carousel{
    position: absolute;
    top: 0;
}
.owl-carousel .item {
    /* height: 40vh; */
    width: 100%;
}
.owl-carousel .item img{
    height: 40vh;
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    top: 50%;
    transform: translateY(-50%);
    display: none;
    background-color: #fff !important;
    opacity: 0.5;
}
.owl-carousel .owl-nav .owl-next{ right: 20px; }
.owl-carousel .owl-nav .owl-prev{ left:20px; }

.owl-theme .owl-dots {
    position: absolute;
    z-index: 10;
    left:50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: rgba(0,0,0,.2);
    border: 1px solid rgba(225,225,225,.7);
}

.owl-carousel.owl-drag .owl-item {
    width: 750px;
}
/* #endregion ========== 貓頭鷹 ==========*/

/* #region ========== 商品概要 ==========*/

.bread-and-id {
    width: 100%;
    align-items: center;
    padding-top: 40vh;
    padding-left: 20px;
    padding-right: 20px;
}
.id-box p { margin: auto; }

.intro-container{
    width: 100%;
}

.intro-price {
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: bold;
}
.favorites-and-service{
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 -5px 5px -3px rgba(0,0,0,.1);
    z-index: 99;
}
.favorites-and-service .service span {display: none;}
.favorites i, .service i {font-size: 25px;}
.fa-solid.fa-heart {color:rgb(248, 103, 74)}

.buy-right-now{
    width: 50%;
    background-color: var(--kk-primary);
}

.announcement i{margin-right: 10px;}
.announcement {
    width: 100%;
    border-radius: 10px;
    background-color: #F0FAFB;
    padding: 15px;
    color: var(--kk-primary);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.intro-notice{margin-bottom: 1rem;}
.intro-notice ul li .i-box {
    width: 16px;
    margin-right: 10px;}
.intro-notice ul{padding-left: 0;}
.intro-notice ul li:nth-child(n+2){margin-top: 10px;}
.intro-notice ul li { 
    list-style: none;
    display: flex;
}
.intro-notice ul li i {margin-right: 5px;}

.intro-features{
    padding-top: 1rem;
    border-top: 1px solid #F5F5F5;
}
.choose-plan-box {display: none;}
/* #endregion ========== 商品概要 ==========*/

/* #region ========== 選擇方案 ==========*/
.product-plan{
    background-color: #F5F5F5;
    padding: 40px 0;
}

.plan-container div p[class*="title"] {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.product-detail-nav{
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    height: 60px;
    transition: .5s;
    background-color: #fff;
    z-index: 98;
    overflow-x: hidden;
    display: flex;
    box-shadow: 0 5px 5px -3px  rgba(0,0,0,0.1);
}

.product-detail-nav ul {
    padding: 0 20px;
    margin: 0;
    display: flex;
    white-space: nowrap;
    align-items: center;
    position: relative;
    left: 0px;
    /* pointer-events: none; */
}
.product-detail-nav ul li {
    height: 100%;
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #fff;
}

.product-detail-nav ul li a {
    text-decoration: none; 
    font-size: 16px;
    font-weight: bold;
}

.choose-date{
    width: 100%;
    --bs-btn-bg: #fff;
    margin-bottom: 1.5rem;
}
.choose-plan{ margin-bottom: 1.5rem;}
.plan-item{
    text-align: start;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}
.plan-item:nth-of-type(n+2){margin-top: 1rem;}

.plan-desc {width: calc(75% - 5px);}
.plan-desc p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.plan-desc-text {display: none;}
.plan-desc-text li{
    font-size: 15px;
    color: #5e5a5a;
    margin-bottom: 10px;
}


.plan-price > span{
    font-size: 15px;
    color: rgb(0, 153, 255);
    display: none;
}
.price-and-choose {
    display: flex;
    align-items: center;
}
.price-and-choose p {
    width: 60%;
    margin-right: 10px;
}
.price-and-choose span {
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}
.price-and-choose  button {
    width: 40%;
    display: none;
}

.plan-detail-box {
    padding: 0 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.plan-detail-item {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plan-detail-item:nth-child(n+2){ border-top: 1px solid #F5F5F5; }
.plan-detail-item div p {
    display: block;
    margin: 5px 0;
}
.plan-detail-item div p:first-child{
    font-size: 18px;
    font-weight: bold;
}
.plan-detail-item div p:last-child{
    font-size: 15px;
    color: #5e5a5a;
}

.select-detail {display: none;}

/* #endregion ========== 選擇方案 ==========*/

/* #region ========== 商品說明 ==========*/
.product-detail {
    background-color: #fff;
    padding: 20px 0;
}
.product-detail-container {
    max-width: 1200px;
    padding: 0 20px;
}

.product-detail-content > div:nth-child(n+2){
    border-top: 1px solid #F5F5F5;
}

.product-detail-schedule{padding-top: 40px;}
.product-detail-instructions,
.product-detail-notice,.product-detail-use,
.product-detail-place,.product-detail-policy{
    padding: 40px 0;
}

.passprot {
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 20px;
}
.deadline{ padding-top: 20px;}

.use-box p {font-weight: bold;}
.place-name{margin-bottom: 1rem;}
.place-name p:first-child{
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: bold;
}
.mapAPI {margin-bottom: 1rem;}
.mapAPI img {
    width: 100%;
}
.how-to-arrive p:first-child{
    font-weight: bold;
    margin-bottom: 1rem;
}

/* #endregion ========== 商品說明 ==========*/

/* #region ========== 行程介紹 ==========*/
.schedule-item {
    padding: 20px 0;

}
.schedule-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.schedule-lists{list-style: none;
}
.schedule-lists li {
    position: relative;
    display: flex;
    padding: 20px 0;
}
.schedule-lists li div { margin-right: 10px;
}
.schedule-lists li p {margin-bottom: 10px;}
.schedule-lists li div img {
    display: block;
    width: 100%;
}
.schedule-lists li::before{
    content: "";
    width: 16px;
    height: 16px;
    background-color: #b5b5b5;
    border-radius: 50%;
    position: absolute;
    left: -30px;
    margin-top: 3px;
}
.schedule-lists li::after{
    content: "";
    width: 2px;
    height: 100%;
    background-color: #b5b5b5;
    position: absolute;
    left: -23px;
    margin-top: 3px;
}
.schedule-lists li:last-child::after{
    content: none;
}
/* #endregion ========== 行程介紹 ==========*/








@media screen and (min-width: 768px){
    div[class*="-container"]{
        max-width: 1200px;
    }
    body {padding-bottom: 0;}
    h1{font-weight: normal;}
    .product-intro .intro-container{padding: 20px 20px;}

    /* #region ========== 麵包屑 ==========*/
    .bread-box{ 
        width: 85%;
        padding: 0;
        margin: 0;
    }
    .bread-and-id {
        padding:15px 20px;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }
    .id-box{
        width:15%;
        text-align: right;
        margin: 0;
    }
    /* #endregion ========== 麵包屑 ==========*/
    
    /* #region ========== 貓頭鷹 ==========*/
    .slider{
        padding: 0 20px;
    }
    .owl-carousel {
        position: relative;
    }
    .owl-carousel .item img{
        height: 60vh;
    }
    .owl-carousel .owl-nav .owl-next,
    .owl-carousel .owl-nav .owl-prev {
        display: block;
        color: black;
    }
    .owl-carousel .owl-nav .owl-next:hover,
    .owl-carousel .owl-nav .owl-prev:hover{
        color: black;
    }
    .owl-carousel .owl-nav button.owl-next:hover,
    .owl-carousel .owl-nav button.owl-prev:hover{
        opacity: 0.8;
    }

    /* #endregion ========== 貓頭鷹 ==========*/

    /* #region ========== 商品概要 ==========*/
    .intro-container{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .intro-main-box {width: calc(70% - 10px);}

    .intro-title-favorites-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .intro-title-box{width: 95%;}
    .intro-title {margin-bottom: 1rem;}
    .location {margin-bottom: 1rem;}


    .favorites-and-service{
        width: fit-content;
        height: fit-content;
        position: relative;
        box-shadow: none;
    }
    .favorites-and-service .service i {margin-right: 10px;}
    .favorites-and-service .service span {display: block;}
    .favorites-and-service .service {
        width: 300px;
        padding: 10px;
        background-color: var(--kk-primary);
        border-radius: 10px 10px 0 0;
        color: #fff;
        text-align: center;
        display: flex;
        position: fixed;
        right:100px;
        bottom: 0px;
    }
    .favorites-and-service button {display: none;}
    .favorites i {margin-bottom: auto;}

    .intro-price {display: none;}
    .choose-plan-box {
        display: block;
        width: calc(30% - 10px);
        padding: 20px;
        border: 1px solid #F5F5F5;
        height: fit-content;
    }
    .choose-plan-box .unitPrice{ margin-bottom: 1rem; }
    .choose-plan-box .unitPrice span {
        font-size: 20px;
        font-weight: bold;
        margin-right: 5px;
    }
    .choose-plan-box button,.choose-plan-box a {
        width: 100%;
        background-color: var(--kk-primary);
        border-radius: 10px;
    }
    .intro-notice {
        padding: 20px 0;
        border-top: 1px solid #F5F5F5;
    }
    .intro-notice ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
    }
    .intro-notice ul li:nth-child(n+2) {margin: 0;}
    
    /* #endregion ========== 商品概要 ==========*/
    
    /* #region ========== 選擇方案 ==========*/
    .plan-container > button {display: none !important;}
    .choose-plan-title {display: none;}
    .plan-item-show{
        display: flex;
        justify-content: space-between;
    }
    .plan-desc-text{display: block;}
    .plan-price {
        width: calc(25% - 5px);
        text-align: end
    }
    .plan-price button {display: block;}
    .plan-price > span {display: inline-block;}

    .plan-detail {display: none;}

    .select-detail {border-top: 1px solid #F5F5F5;}
    .plan-item-about{
        margin-top: 20px;
        padding: 20px;
        background-color: #F5F5F5;
        border-radius: 10px;
        display: flex;
        margin-bottom: 1rem;
    }
    .plan-item-about p {
        font-size: 16px;
        font-weight: bold;
        margin-right: 100px;
    }
    .plan-item-about div i {margin-right: 5px;}

    .plan-item-date {
        display: flex;
        justify-content: space-between;
    }

    .date-box,.qty-box {width: calc(50% - 10px);}
    .date-box p{ margin-bottom: 1rem; }
    .date-box p:first-child{
        font-size: 16px;
        font-weight: bold;
    }
    .calendar {
        width: 100%;
        height: 500px;
    }

    .reset {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }
    .choose-qty{
        width: 100%;
        height: fit-content;
        border-bottom: 1px solid #F5F5F5;
    }
    .choose-qty > p { margin-bottom: 1rem; }
    .qty-item{
        width: 100%;
    }
    .qty-item,.qty-item-name, .select-box { display: flex; }
    .qty-item { 
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .qty-item-name span{margin: auto;}
    .qty-item-name p {
        font-size: 16px;
        font-weight: bold;
        margin: auto;
    }
    .qty-item-name span {
        color: #aaa;
        font-size: 13px;
    }
    .qty-box > span {
        white-space: nowrap;
        font-size: 15px;
        margin: auto;
    }
    .select-num {
        display: flex;
        align-items: center;
    }
    .select-num i {
        font-size: 30px;
        margin:0 20px;
    }

    .check-price {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
    }
    .check-price p:last-child{
        font-size: 20px;
        color: var(--kk-primary);
        font-weight: bold;
    }

    .buy {text-align: end;}
    .btn-kk-primary {
        background-color: var(--kk-primary);
        color: #fff;
    }

    /* #endregion ========== 選擇方案 ==========*/

    /* #region ========== 商品說明 ==========*/
    .product-detail {
        display: flex;
    }
    .product-detail-container{
        display: flex;
    }
    .product-detail-content{
        width: 70%;
        margin-right: auto;
    }
    .product-detail-nav{
        width: fit-content;
        height: fit-content;
        display: block;
        position: sticky;
        margin-top: 60px;
        margin-right: 60px;
        top: 100px;
        right: 100px;
        box-shadow: none;
    }
    .product-detail-nav ul,
    .product-detail-nav ul li {
        display: block;
        padding: 5px;
        margin-bottom: 5px;
    }
    .product-detail-nav ul li {
        border-left: 3px solid transparent;
    }

    .product-detail-nav ul .active{
        border-left: 3px solid var(--kk-primary);
        color: var(--kk-primary);
    }

    .product-detail-nav ul li a {font-weight:normal;}
    .detail-anchor li:first-child {display: none;}
    
    /* #endregion ========== 商品說明 ==========*/

    /* #region ========== 行程介紹 ==========*/

    .schedule-item {
        padding: 20px 0;
    }
    .schedule-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .schedule-lists{list-style: none;}
    .schedule-lists li {
        position: relative;
        display: flex;
        padding: 20px 0;
    }
    .schedule-lists li div { margin-right: 10px; }
    .schedule-lists li p {margin-bottom: 10px;}
    .schedule-lists li div img {
        display: block;
        width: 100%;
    }
    .schedule-lists li::before{
        content: "";
        width: 16px;
        height: 16px;
        background-color: #b5b5b5;
        border-radius: 50%;
        position: absolute;
        left: -30px;
        margin-top: 3px;
    }
    .schedule-lists li::after{
        content: "";
        width: 2px;
        height: 100%;
        background-color: #b5b5b5;
        position: absolute;
        left: -23px;
        margin-top: 3px;
    }
    .schedule-lists li:last-child::after{
        content: none;
    }
    /* #endregion ========== 行程介紹 ==========*/
}





/* #region ==========  ==========*/
/* #endregion ==========  ==========*/